{% extends "generic/base.html" %}

{% block title %}Single post{% endblock title %}
{% block content %}
    <h1 class='display-5'>{{post.title}}</h1>
    <p class='text-primary'>by {{post.author}}</p>
    <p class='text-muted'>Created {{post.created_at}}, Last modified {{post.last_modified}}</p>
    <div class="my-3">
        {% for tag in post.tags.all %}
            <span class="badge bg-secondary ">{{tag.title}}</span>
        {% endfor %}
    </div>
    <p>{{post.content}}</p>
{% endblock content %}